@charset "utf-8";
/****************Candy Zhang A01032435******************/
body{
	margin: 0px;
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

header{
	margin: 35px auto 60px;
	text-align: center;
	border-top: 1.5px solid #fff;
	width: 50%;
}

h1{
	border-top: 1px solid #fff;
	margin-top: 2px;
	padding-top: 60px;
	font-family: 'Lora', serif;
	font-style: italic;
	font-size: 56px;
	font-weight: 400;
	color: #fff;
}

nav{
	text-align: center;
	border-top: 0.5px solid #fff;
	border-bottom: 0.5px solid #fff;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

nav ul{
	margin-right: 60px;
}

nav ul li{
	list-style-type: none;
	padding-left: 15px;
	font-family: 'Lora', serif;
	font-style: italic;
	font-size: 14px;
	font-weight: 700;
	display: inline;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
}

nav a:hover{
	opacity: 0.5;
}

section{
	margin-top: 260px;
	text-align: center;
}

img[alt]{
	border: 6px solid #fff;
	height: 184px;
    width: 194px;
    box-shadow: 0 0 6px #fffcfc;
	border-radius: 50%;
	position: relative;
	margin: -130px;
}

h2{
	font-family: 'Lora', serif;
	font-style: italic;
	font-size: 22px;
	font-weight: 400;
	color: #1D1D1D;
	padding-top: 130px;
}

p{
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	margin-top: 20px;
}

ul{
	padding-left: 0px;
}

ul li{
	list-style-type: none;
}

ul li a{
	text-decoration: none;
	color: #000;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	font-size: 16px;
	font-weight: 400;
}

ul li a:hover{
	color: rgba(83,126,133,0.66)
}

p > a{
	text-decoration: none;	
	color: #000;
}

p > a:hover{
	color: rgba(83,126,133,0.66);
}

footer{
	text-align: center;	
	margin-bottom: 15px;
	margin-top: 55px;
}

footer a{
	text-decoration: none;
	font-family: 'Lora', serif;
	font-style: italic;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}

footer a:hover{
	opacity: 0.5;	
}
	
/*********************Class Content*******************/
.b1{
	margin: 30px auto;
	background-color: rgba(237,237,237,0.76);
	width: 50%;
	box-shadow: 0 0 6px #fffcfc;
	height: 1000px;
}

